<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.codehaocode.notificationreceiverapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.github.codehaocode.notificationreceiverapp.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name="com.github.codehaocode.notificationreceiverapp.presentation.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <service-->
<!--            android:name="com.github.codehaocode.notificationreceiverapp.services.NotificationListener"-->
<!--            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.service.notification.NotificationListenerService" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <service android:name="com.github.codehaocode.notificationreceiverapp.services.AppForegroundService" />
        <service
            android:name="com.github.codehaocode.notificationreceiverapp.services.NotificationProcessorService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.github.codehaocode.notificationreceiverapp.services.NotificationJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.github.codehaocode.notificationreceiverapp.receiver.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.github.codehaocode.notificationreceiverapp.receiver.NotificationReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>